@import "../../styles/constants/mixins";

.hero{
  @include flex-cent;
  width: auto;
  &-container{
    @include flex-alc-jsb;
    gap: 30px;
  }

  &-about{
    @include flex-col-cent;
    gap: 20px;
    max-width: 35%;

    &__info{
      @include flex-col;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
      padding: 22px;
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(7.95954px);
      border-radius: 17px;
      &-title{
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 1.2;
        color: var(--title-color);
      }

      &-desc{
        font-family: 'Montserrat',sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.2;
        color: #FFFFFF;
      }
    }

    &__btn{
      width: 100%;
      font-family: 'Montserrat',sans-serif;
      font-weight: 500;
      font-size: 25px;
      line-height: 1.2;
      padding: 15px;
      text-align: center;
      letter-spacing: 0.165em;
      text-transform: uppercase;
      color: var(--title-color);
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(7.95954px);
      border-radius: 17px;
    }
  }

  &-poster{
    max-width: 50%;
    width: 100%;
    position: relative;
    &__back{
      position: absolute;
      width: 100%;
      height: 300px;
      bottom: -100px;
      z-index: 5;
      background: linear-gradient(180deg, rgba(245, 137, 59, 0.64) 0%, rgba(245, 137, 59, 0) 100%);
      filter: blur(55.5838px);
      transform: matrix(0.97, 0.25, -0.22, 0.97, 0, 0);
    }

    &__img{
      position: relative;
      width: 100%;
      object-fit: contain;
      z-index: 10;
    }
  }
}
