:root{
  --background-color: linear-gradient(242.37deg, #444444 -5.36%, #23160C 102.74%);
  --title-color:#FFFFFF;
  --paragraf-color:rgba(255, 255, 255, 0.48);
  --nav-link-hover-color:#FFFFFF;
  --nav-link-color:rgba(255, 255, 255, 0.48);
  --titles-back-color:rgba(255, 255, 255, 0.08);
  --titles-back-blur: blur(7.95954px);
  --pag-back-color:rgba(255, 255, 255, 0.08);
  --pag-back-blur: blur(7.95954px);
  --page-color:#C97335;
  --loader-back-color: #4B4946;
}
