:root{
  --background-color: linear-gradient(242.37deg, #444444 -5.36%, #23160C 102.74%);
  --title-color:#FFFFFF;
  --paragraf-color:rgba(255, 255, 255, 0.48);
  --nav-link-hover-color:#FFFFFF;
  --nav-link-color:rgba(255, 255, 255, 0.48);
}