@import "../../styles/constants/mixins";

.header{
  @include flex-cent;
  width: auto;
  z-index: 99999;

  &-container{
    @include flex-cent;
    width: 100%;
    gap: 50px;
    padding: 30px 40px;
  }

  &-logo{
    @include flex-cent;
    position: relative;
    max-width: 513px;
    &__text{
      @include adaptive-font(53, 28);
      position: absolute;
      top: 10%;
      font-family: 'Montserrat', sans-serif;
      color: var(--title-color);
      font-weight: 600;
      width: 100%;
      text-align: center;
      line-height: 1.2;
    }

    &__svg{
      width: 100%;
      object-fit: cover;
    }
  }
}


@media screen and (max-width: 769px){
  .header{
    &-container{
      @include flex-cent;
      padding: 30px 20px;
    }

    &-logo{
      &__text{
        top: 20%;
        @include adaptive-font(53, 27)
      }
    }
  }
}
