@import "../../styles/constants/mixins";


@mixin subtext{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: var(--paragraf-color);
}

.courses{
  @include flex-cent;
  width: auto;
  margin-bottom: 150px;
  &-container{
    @include flex-col;
    gap: 50px;
    width: 100%;
  }

  &-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    width: 100%;
    color: var(--title-color);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(7.95954px);
    padding: 5px 20px;
    border-radius: 18px;
  }

  &-list{
    @include flex-col;
    gap: 30px;
  }

  &-item{
    width: 100%;
    padding: 10px;
    height: 100%;
    &__link{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 30px;
    }

    &__poster-video{
      max-width: 500px;
      width: 100%;
      height: 100%;
      &__item{
        width: 100%;
      }
      &__img{
        max-width: 500px;
        min-width: 100%;
        object-fit: cover;
      }
    }

    &__info{
      @include flex-col-jsb;
      height: 100%;
      gap: 15px;
      padding: 15px;
    }

    &__skills{
      @include flex-alc;
      gap: 10px;
      flex-wrap: wrap;
      width: 100%;

      &-item{
        @include subtext;
      }
    }

    &__title{
      font-family: 'Montserrat',sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.2;
      color: var(--title-color);
    }
    &__desc{
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.2;
      color: var(--title-color);
    }

    &__rate{
      @include subtext;
    }

    &__lessons-count{
      @include subtext;
    }
  }
}
.react-player__preview{
  height: 272px;
}
